/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* Ben Rogers Styles Start */

header {
    margin: 30px 0 30px 0;
}

header, nav, nav > ul {
    display: flex;
}

nav {
    align-items: flex-end;
}

header > img {
    margin-right: 10%;
}

nav > ul > li {
    margin-right: 30%;
}

a {
    color: black;
    text-decoration: none;
}

h2, button {
    margin: 15px 0 20px 0;
}

/* img {
    width: 100%;
} */

button {
    font-size: 100%;
    font-family: inherit;
    background: transparent;
    border: solid 2px black;
    padding: 8px 20px;
    border-radius: 10px;
}

footer {
    margin-bottom: 30px;
}

div.hero {
    margin-bottom: 30px;
    border-bottom: dashed 1px black;
    padding-bottom: 20px;
}

div.hero-copy {
    padding: 0 20px 0 20px;
}

div.half-cards {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.wrapper-half {
    width: 45%;
    margin-bottom: 60px;
    border-bottom: dashed 1px black;
}

div.lets-work {
    margin-top: -25px;
}

div.wrapper-half > img {
    width: 100%;
}

img#jumbo {
    margin: 20px 0 20px 0;
}

/* box color styles */

/* 
Color Reference: 

teal
gold
cadetblue
coral
crimson
forestgreen
darkorchid
hotpink
indigo
dodgerblue 

*/

div#box1 {
    background-color: teal;
}
div#box2 {
    background-color: gold;
}
div#box3 {
    background-color: cadetblue;
}
div#box4 {
    background-color: coral;
}
div#box5 {
    background-color: crimson;
}
div#box6 {
    background-color: forestgreen;
}
div#box7 {
    background-color: darkorchid;
}
div#box8 {
    background-color: hotpink;
}
div#box9 {
    background-color: indigo;
}
div#box10 {
    background-color: dodgerblue;
}

/* nav animation  */

.container header nav a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: gray;
  transition: width 0.5s ease-in-out;
}
.container header nav a:hover:after,
.container header nav a:focus:after {
  width: 100%;
}
